
body{
 background-color:#f6f5f5;
 margin:0px;
 padding:0px;
 font-family: "Kaushan Script", cursive;
}


a{
 text-decoration:none;
 color: black;
 /*text-align: center;*/

}



nav {
 display: flex;
 justify-content: space-between;
 align-items:center;
 height:50px;
 /*using bootstrap colors*/
 box-shadow:2px 2px 12px rgba(12, 12, 12, 0.2);
 padding:10px 5%;
 
 
}
nav ul{
 display: flex;
 flex-direction: row;
 list-style:none;
 margin-top: 15px;
}
 
 
nav ul li a{
 margin:30px;
 font-family: 'Monoton', cursive;
 color:#505050;
 font-size: 30px;
 font-weight:50;
}


.logo{
    font-family: 'Monoton', cursive;
 color:#000000;
 font-size: 40px;
}



.main {
    display: flex;
   flex-direction: row;
   justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 80px;
    text-transform: uppercase;
  
    
}

#imagemaria {
    background-image: url(../images/marya.PNG);
    width: 450;
    height: 500;
    border-radius: 80%;
    float: right;
    margin-left: 10px;
}

.text-container p:nth-child(1){
    /*back to edit*/
    font-family: "Kaushan Script", cursive;
 font-weight:bold;
 color:#6d6d6d;
 font-size:22px;
}
.text-container p:nth-child(2){
    /*back to edit*/
    font-family: "Kaushan Script", cursive;
 font-weight:bold;
 letter-spacing:1px;
 color:#1a1a1a;
 font-size:60px;
 
}
.text-container p:nth-child(3){
    /*back to edit*/
    font-family: "Kaushan Script", cursive;
 color: #403e3e;
 font-size:30px;
 line-height:30px;
}
 
.text-container p{
 margin:45px 0px 25px;
 line-height:0px;
 
}
.text-container button{
 width:130px;
 height:60px;
 border-radius:10px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight:bold;
 font-size: 14px;
 background-color: black;
 color: white;
 margin:20px 0px;
 
}


}

@media (min-width: 376px ) and (max-width: 425px) {
    ul {width: 780px;}
    ul i {display:inline-block ; width: 100%;}
    .main  { flex-direction: column-reverse;
        justify-content:space-around; width: 700px;margin: 0px; padding: 0px; text-align: center; margin: 30px auto;}
    footer{ position: fixed; bottom: 0;left: 0;}
  


  }
  
  
  @media (min-width: 426px ) and (max-width: 768px) {
    ul {width: 780px;}
    ul i {display:inline-block ; width: 100%;}
    .main  { flex-direction: column-reverse;
        justify-content:space-around; width: 700px;margin: 0px; padding: 0px; text-align: center; margin: 30px auto;}
    footer{ position: fixed; bottom: 0;left: 0;}




  }
  
  @media (min-width: 1025px ) and (max-width: 1440px) {
    ul i {display:inline-block ; width: 100%;}
 

}


















