body{
    /* font-family: ; */
}



.image {
    width: 200em;
    height: auto;
    background-image: url(../images/option2.jpg);
    background-repeat: no-repeat;
}
.all {
    height: auto;
width: auto;
display: flex;
flex-direction: row;
}